.about-sec {
  background: url("../../assets/images/about-bg.jpg") no-repeat center;
}

.about-img svg {
  width: 100%;
  height: 500px;
  fill: #f0ece8;
  object-fit: cover;
  border-radius: 15rem;
}
