<div id="app-adopt-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center ">
        <div class="modal-header align-items-center text-center ">
          <h5 class="modal-title mx-auto ">Get in touch with the owner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <p ><strong class="text-danger">Mobile : </strong> <a href="tel:+123456789">+20 113 456 789 8</a></p>

            <p><strong class="text-danger">Email : </strong> <a href="mailto:example@gmail.com">example&#64;gmail.com</a></p>
        </div>
        <div class="modal-footer">
                  <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                
                </div> 
          
      </div>
    </div>
  </div>
 