<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Shop</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active"><a routerLink="/blogform">Blog Form</a></li>
                    
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="pet-form p-sm-5 p-4">
  
    <form enctype="multipart/form-data">
        <div class="row m-0">
            <!-- <div class="col-md-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Title" >
                    <label for="location">Title</label>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Description"  name="content" [(ngModel)]="formData.content" ></textarea>
                    <label for="disc">What's on your mind ?</label>
                </div>
            </div>
            <div class="col-md-12">
                <label for="image">Upload a  photo</label>
                <input type="file" id="image" class="form-control mt-2" name="image"  (change)="onFileSelected($event)"/>
            </div>
            <div class="col-12">
                <button class="btn mt-4" type="submit"  (click)="onSubmit()">Add Post</button>
              </div>

        </div>
    </form>
</section>