<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Shop</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="shop p-sm-5 p-4">
    <div class="row m-0">

        <div class="col-lg-9 col-md-8">
            <div class="sort">
                <select id="Options" class="form-select w-25">
                    <option selected>Sort By</option>
                    <option value="All">All</option>
                    <option value="highToLow">High To Low</option>
                    <option value="lowToHigh">Low To High</option>
                </select>
            </div>
            <div class="products-cards row mx-0">
                @if(products){
                    @for(product of products; track product.id){
                <div class="col-lg-4">
                    <app-product-card [product]="product"></app-product-card>
                </div>
    
            }}
            </div>
        </div>
        <div class="col-lg-3 col-md-4 py-3 sidebar">
            <div class="sidebar-item search-form ">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button type="submit" class="sec-color" value="Search">
                        <i class="fas fa-search search"></i>
                    </button>
                </form>
            </div>
            <div class="sidebar-item categories mt-3 px-2 ">
                <h4>Product categories</h4>
                <ul>
                    @if(categories){
                        @for(category of categories; track category){
                    <li><a> <i class="fa fa-paw sec-color" aria-hidden="true"></i>
                            {{category.category_name}}</a></li>
                    }}
                </ul>
            </div>
        </div>
    </div>
</section>