<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Account</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Account</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="p-sm-5 p-4">
    <div class="row m-0">
        <div class="col-lg-4 user">
            <div class=" p-4">
                <figure class="user-img">
                    <img src="../../assets/images/user.png" alt="">
                    <figcaption>
                        <h4 class="main-color mt-3">{{user.name}}</h4>
                    </figcaption>
                </figure>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <strong class="main-color ">Email:</strong> {{user.email}}
                    </li>
                    <li class="mb-2">
                        <strong class="main-color ">Gender:</strong> {{user.gender}}
                    </li>
                    <li class="mb-2">
                        <strong class="main-color ">Country:</strong>{{user.city}}
                    </li>
                </ul>
               
            </div>

        </div>
        <div class="col-lg-8">
         
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <!-- <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-orders-tab" data-bs-toggle="pill" data-bs-target="#pills-orders" type="button" role="tab" aria-controls="pills-orders" aria-selected="true">Orders</button>
                        </li> -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-pets-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-pets" type="button" role="tab" aria-controls="pills-pets"
                                aria-selected="false"><i class="fa fa-paw sec-color" aria-hidden="true"></i> Pets
                       
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-community-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-community" type="button" role="tab"
                                aria-controls="pills-community" aria-selected="false"> <i class="fa fa-paw sec-color" aria-hidden="true"></i> Community
                               

                            </button>
                        </li>

                    </ul>
          
                    <div class="tab-content" id="pills-tabContent">
                        <!-- <div class="tab-pane fade show active" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab" tabindex="0">
                    iiiiiiiiiii
                </div> -->
                        <div class="tab-pane fade show active" id="pills-pets" role="tabpanel"
                            aria-labelledby="pills-pets-tab" tabindex="0">
                            <div class="row m-0">
                                <div class="col-md-6" *ngFor="let animal of animals">
                                    <app-pet-card [animal]="animal"></app-pet-card>
                                </div>
                              
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-community" role="tabpanel"
                            aria-labelledby="pills-community-tab" tabindex="0">
                            <div class="row m-0">
                                <div class="col-md-6" *ngFor="let post of posts" >
                                    <app-blog-card [post]="post" ></app-blog-card>
                                </div>
                                
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>