.pet-img .svg-bg {
    height: 170px;
}
.pet{
    width: 150px;
    height: 150px;
}
.item{
    box-shadow: 3px 1px 18px 0 rgba(0,0,0,.09);
    background: #fff;
    border-radius: 15px;
}
/* img{
    height: 25vh;
    width: 11vw;
} */