<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 half-bg">
                <h1 style="color: #011939d0;">New Here!</h1>
                <h2 style="color: #493706d0;"> Join our community and register for your own profile. </h2>
                
                      <img src="../../assets/images/dog.png" alt="" class="img-responsive">
            
            </div>

            <div class="col-md-6 registration-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-2">
                            <div class="card text-right">
      
                                <img src="../../assets/images/animal.jpeg" class="card-img-top" >
                              </div>
                            <form role="form">
                                <form role="form">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" class="form-control input-lg" placeholder="First Name">
                                      </div>
                                    </div>
                            
                                    <div class="form-group">
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" class="form-control input-lg" placeholder="Last Name">
                                      </div>
                                    </div>
                            
                                    <div class="form-group">
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="email" class="form-control input-lg" placeholder="Email Address">
                                      </div>
                                    </div>
                            
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                            <select class="form-control input-lg" placeholder="Gender">
                                              <option value="" selected disabled>Gender</option>
                                              <option value="male">Male</option>
                                              <option value="female">Female</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                            
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                            <select class="form-control input-lg" placeholder="Country">
                                              <option value="" selected disabled>Country</option>
                                              <option value="usa">USA</option>
                                              <option value="canada">Canada</option>
                                              <option value="uk">UK</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input type="password" class="form-control input-lg" placeholder="Password">
                                          </div>
                                        </div>
                                      </div>
                            
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                                            <input type="password" class="form-control input-lg" placeholder="Confirm Password">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            
                                    <hr class="colorgraph">
                            
                                    <div class="text-center">
                                      <a class="text-info fw-lighter fs-6" href="sign.html">Already Have An Account?</a><br><br>
                                      <button class="btn " type="button">Register</button>
                                    </div>
                                  </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

