<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Clinic Name</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">{{singleClinic?.name}}</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="product-details p-sm-5 p-4">
    <div class="row mx-0 justify-content-between">
        <div class="col-md-6">
            <h3 class="main-color">Happy Pets Clinic
            </h3>
            <p>{{singleClinic?.description}}</p>
               
            <ul class="fa-ul">
                <li><span class="fa-li">
                    <i class="fa-solid fa-star sec-color"></i>
                    </span>
                    <strong class="main-color">Rate :</strong> {{singleClinic?.rate}}
                <li><span class="fa-li">
                    <i class="fa-solid fa-circle-xmark sec-color"></i>
                    </span>
                    <strong class="main-color">Times :</strong> {{singleClinic?.opening_hours}}
                </li>
                <li><span class="fa-li">
                    <i class="fas fa-map-marker-alt sec-color"></i>
                    </span>
                    <strong class="main-color">City :</strong> {{singleClinic?.city}}
                </li>
                <li><span class="fa-li">
                    <i class="fas fa-map-marker-alt sec-color"></i>
                    </span>
                    <strong class="main-color">Location :</strong> {{singleClinic?.place}}
                   
                </li>
                <li><span class="fa-li"> 
                    <i class="fas fa-phone-alt sec-color"></i>
                    </span>
                    <strong class="main-color">Phone :</strong> {{singleClinic?.phone_number}}
                </li>
            </ul>
            <a [href]="clinic.url" class="btn-2" target="_blank">
                View Location
              </a>
              

        </div>
        <div class=" col-md-5">
            <div class="product-img" >
                <img [src]="singleClinic?.images[1]" alt="clinic">
            </div>
            
              
        </div>


    </div>
</section>