<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Clinic Name</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Clinic Name</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="product-details p-sm-5 p-4">
    <div class="row mx-0 justify-content-between">
        <div class="col-md-6">
            <h5 class="sec-color">Experts on field</h5>
            <h3 class="main-color">Happy Pets Clinic
            </h3>
            <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
            <ul class="fa-ul">
                <li><span class="fa-li">
                    <i class="fas fa-map-marker-alt sec-color"></i>
                    </span>
                    <strong class="main-color">Location</strong> 36 Hassan Ibrahem st. branched from Makram Ebied,
                    behind Mefko Helwan
                </li>
                <li><span class="fa-li"> 
                    <i class="fas fa-phone-alt sec-color"></i>
                    </span>
                    <strong class="main-color">Phone :</strong> 02-23496202
                </li>
            </ul>
            <a href="" class="btn-2">
                View Location
            </a>

        </div>
        <div class=" col-md-5">
            <div class="product-img">
                <img src="../../assets/images/clinic-img.jpeg" alt="product">
            </div>
        </div>


    </div>
</section>