<section class="inner-header">
    <figure>
        <img src="../../assets/images/bg-breadcrumb.jpg" alt="breadcrumb">
        <figcaption>
            <h2 class="title display-4">Shop</h2>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/blogs">Blogs</a></li>
                    <li class="breadcrumb-item active">blog</li>
                </ul>
            </nav>
        </figcaption>
    </figure>
</section>
<section class="shop p-sm-5 p-4">
    <div class="row m-0">

        <div class="col-lg-9 col-md-8">
            <div class="event">
                  <figure>
                    <img [src]="getFullImagePath(post.image)" alt="#" />
                    <figcaption class="date p-2">
                      <span class="month">Dec</span><br />
                      <span class="day">19</span>
                    </figcaption>
                  </figure>
                  <div class="figcaption p-3">
                    <h4 class="event-title my-3">
                      How Brand Social Value Will Pay a Part in 2022
                    </h4>
                    <p>
                      {{post.content}}
                    </p>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat perferendis veniam facilis vel numquam ad dolorum ipsa sunt, suscipit saepe cumque totam impedit quasi accusamus iure tenetur. Vel incidunt illo laboriosam veniam ex neque tempora corrupti non delectus. Pariatur, dicta quaerat ipsum, consectetur esse ipsam quidem dignissimos commodi necessitatibus molestiae ratione facere aliquam doloremque corrupti molestias animi mollitia debitis. Beatae neque sint dolores perferendis praesentium corporis odio. Fugiat accusantium nisi quisquam, quod omnis magni, doloremque et minus quaerat dignissimos tempora perferendis quibusdam. Quos magni animi doloribus architecto optio vel, doloremque ipsa, minima ullam eaque esse id excepturi expedita labore voluptate!</p> -->
                  </div>
                  <div class="comments-section">
                    <h5 class="comments-title">Comments</h5>
                    <div class="comment" *ngFor="let comment of comments">
                      <div class="comment-icon">
                        <i class="far fa-comment-dots"></i>
                      </div>
                      <div class="comment-content">
                        <p>{{ comment.content }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                    <div class="d-flex flex-start w-100">
                      <img class="rounded-circle shadow-1-strong me-3"
                        src="../../assets/images/user.png" alt="avatar" width="40"
                        height="40" />
                        <form id="commentForm" class="w-100">
                          <div class="row">
                            <div class="col-12">
                              <div class="form-outline w-100">
                                <textarea class="form-control"  rows="4" style="background: #fff; width: 98%;"  [(ngModel)]="newComment" name="content"></textarea>
                                <label class="form-label" for="textAreaExample" >Add your comment</label>
                              </div>
                            </div>
                          </div>
                          <div class="row mt-2">
                            <div class="col-12 text-end">
                              <button type="button" class="btn btn-primary btn-sm"  (click)="addComment()" > comment</button> &nbsp;
                              <button type="button" class="btn btn-outline-primary btn-sm" >Cancel</button> &nbsp;
                            </div>
                          </div>
                        </form>
                        
                    </div>
                    
                  </div>
              </div>
          
        </div>
        <div class="col-lg-3 col-md-4 sidebar">
            <a routerLink="/shop">
           <img src="../../assets/images/ads.jpg" alt="" class="img-fluid"></a>
        </div>
    </div>
</section>
<a routerLink="/blogform"class="btn fixed-btn" download="" style="margin-right: 15%;">
  Add your blog</a>

